@import url('navigation.css');

*,
*::before,
*::after { 
    box-sizing: border-box; 
}

html {
    font-size: 16px;
    font-style: italic ;
    scrollbar-gutter: stable;
}

body {
    margin: 0;
    min-height: 100dvh; 
    display: flex;        
    flex-direction: column
}

header {
    padding-top: 10px;
}

main {
    flex-grow: 1;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

input,
select,
button {
    font-size: 16px;
}

h1 {
    font-size: 25px;
    margin: 0;
    text-align: center;
    margin-bottom: 10px;
}

footer {
    position: sticky;
    bottom: 0;
}

.container {
    min-width: 360px;
    max-width: 600px;
    padding: 10px;
    margin: 0 auto;
    position: relative;
}

.flex-col {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.categories {
    padding: 5px;
    background-color: white;
    border-radius: 7px;
    border: 1px solid black;
    position: absolute;
    left: 10px;
    cursor: pointer;
}

.categories img {
    display: block;
}
