.modal {
    border-radius: 10px;
    padding: 20px;
}

.modal .buttons {
    display: flex;
    flex-direction: column;
    gap:10px;
}

.edit {
    background: rgba(51, 185, 36, 0.887);
    border-color: grey;
}

.edit:disabled {
    background-color:rgba(51, 185, 36, 0.568);
}

.delete {
    background: rgba(185, 36, 36, 0.887);
}