table {
    border-collapse: collapse;
    width: 100%;
}

td {
    min-width: 100px;
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #DDD;
}

tr.first {
    background-color: rgb(79, 128, 138);
    color: white;
}

td.date,
td.day-amount {
    text-align: left;
}

tr.second:hover {
    background-color: #D6EEEE;
}

td.amount::after,
td.day-amount::after {
    content: " \20BD";
}

.toggle-month {
    display: flex;
    gap: 14px;
    justify-content: center;
    margin-top: 10px;
}