@import url('css/base.css');
@import url('css/transactionForm.css');

.transaction button[name=save] {
    color: white;
}

.transaction button[name=save]:disabled {
    background: rgba(138, 44, 226, 0.568);
}

.transaction button[name=save]:enabled {
    background: rgb(138, 44, 226);
}